{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book an Appointment</title>
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='styles.css')}}"
  />
<link href="static/css/all.css" rel="stylesheet"/>
</head>

{%block body%}
</br>
<div class = "container">
    <h1>Book an Appointment</h1>
    <form id="AppointmentsForm" action="/book" method="POST" onsubmit="disableSubmitButton()">
        {{ form.csrf_token }}
        <h3 class = "form-element-title">Name:</h3>
        {{ form.Name(class_ = "formdata", placeholder_ = "Name", title_ = "Enter your Full Name", value_ = user['Name'], required = True)}}
        <h3 class = "form-element-title">Pet Name:</h3>
        {{ form.PetName(class_ = "formdata", choices_ = user['PetName'], required = True)}}
        <h3 class = "form-element-title">Phone:</h3>    
        {{ form.Phone(class_ = "formdata", value_ = user['Phone'], required = True)}} 
        <h3 class = "form-element-title">Address:</h3>
        {{form.Address(class = "formdata", required = True)}}
        <h3 class = "form-element-title">Date:</h3> 
        {{ form.AppointmentDate(class_ = "formdata", min_ = mindate, required = True)}} <!-- min_ = mindate -->
        <h3 class = "form-element-title">Time:</h3>
        {{form.AppointmentTime(class = "formdata", required = True)}}
        <h3 class = "form-element-title">Services Required:</h3>
        {{form.ServicesReq(class = "formdata", placeholder_ = "Enter Your Required Services", required = True)}}
        </br>
        {% if message %}
        <h3 type="message">{{message}}</h3>
        {% endif %} {% if error %}
        <h3 type="error">{{error}}</h3>
        {% endif %}
        {% for error in form.AppointmentDate.errors %}
            <h3 type="error">{{error}}</h3>
        {% endfor %}
        {{form.Submit(class_ = "submit")}}
    </form>
</div>
<script>
    function disableSubmitButton() {
        var submitButton = document.querySelector('#AppointmentsForm [type="submit"]');
        submitButton.disabled = true;
    }
</script>
</br>
{%endblock%}
</html>
