{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <body class="home">
    {%block body%} 
    </br>
      <h2 class = "heading">Welcome to Our Veterinary Clinic</h2>
      <p class = "para">
        At our veterinary clinic, we are dedicated to providing compassionate
        and high-quality care for your beloved pets. Our team of experienced
        veterinarians and staff is committed to ensuring the health and
        well-being of your furry friends.
      </p>
      <img
        src="/static/location.jpg"
        
        alt="Veterinary Clinic Image"
        class = "pic"
      />
    </br>
    {%endblock%}
  </body>
</html>
