{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <body class="home">
    {%block body%}
    <section id="services">
      <h2 class = "heading">Our Services</h2>
      <p class = "para">
        At our veterinary clinic, we offer a comprehensive range of services to
        ensure the health and well-being of your pets. Our experienced
        veterinarians and caring staff are dedicated to providing top-notch care
        in a friendly and welcoming environment.
      </p>
        <p><i class="fa-solid fa-staff-snake"></i> Wellness Exams </p>
        <p> <i class="fa-solid fa-syringe"></i> Vaccinations</p>
        <p><i class="fa-solid fa-x-ray"></i> Diagnostic Imaging</p>
        <p><i class="fa-solid fa-user-nurse"></i> Surgery</p>
        <p><i class="fa-solid fa-tooth"></i> Dental Care</p>
        <p><i class="fa-solid fa-microchip"></i> Microchipping </p>
      <img src="/static/veterinary-occupations.jpg" alt="Services Image" />
    </section>
  </br>
      {%endblock%}
  </body>
</html>
